# These packages are to be installed with pip, with the following command:
# pip install -r requirements.txt


numpy
scipy
matplotlib
tqdm

Pillow
pandas

scikit-learn
PyQt5


# To build documentation

sphinx
furo

# sphinx-design
# sphinx-inline-tabs
sphinx-copybutton
sphinx-automodapi
# numpydoc


# To build the package
# conda-build
# build
# pip